[submodule "src/impUnit"]
	path = src/impUnit
	url = https://github.com/electricimp/impUnit.git

[submodule "src/BuildAPIClient"]
	path = src/BuildAPIClient
	url = https://github.com/electricimp/imp-build-api-v4.git
