{
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "eqeqeq": 2,
    "curly": 2,
    "quotes": [
      2,
      "single"
    ]
  },
  "ecmaFeatures": {
    "classes": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "templateStrings": true
  }
}
